.right 
    margin-top 0.2rem
    margin-left $margin
    h3 
        font-size $h2 
        color $primary 
    p 
        font-size $p 
        span 
            font-size $p

// img 
//     filter: grayscale(100%) !important; 